/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* Header Styles */
.starryBG {
    background: url(/assets/starryBG.png);
    height: 100VH;
}

#sideMenu {
    position: absolute;
    /* background: #2D0C4E; */
    height: 100VH;
    width: 267px;
    top: 0px;
    left: 0px;
}

#sideMenu li a {
    position: absolute;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    width: 196px;
    height: 40px;
    left: 42px;
    caret-color: transparent;
}

#sideMenu li a::selection {
    background: #2D0C4E;
}

.sideMenuOption1 {
    top: 185px;
}

.sideMenuOption2 {
    top: 330px;
}

#hamburgerHolder {
    position: absolute;
    width: 47px;
    height: 30px;
    left: 35px;
    top: 43px;    
}

#hamburgerHolder:hover {
     cursor: pointer;
}

#hamLine1 {
    position: absolute;
    width: 47px;
    height: 0px;
    /* left: 35px;
    top: 43px; */

    border: 2px solid #FFFFFF;
}

#hamLine2 {
    position: absolute;
    width: 47px;
    height: 0px;
    top: 12px;

    border: 2px solid #FFFFFF;
}

#hamLine3 {
    position: absolute;
    width: 47px;
    height: 0px;
    top: 24px;

    border: 2px solid #FFFFFF;
}

.logoHolder {
    position: absolute;
    top: 35.5%;
    left: 43%;
    width: 238px;
    height: 306px;
}

.logoInside {
    position: relative;
    left: 0.58%;
    right: 0.18%;
    top: 0.1%;
    bottom: 0.5%;
}

.moon {
    position: absolute;
    left: 87.58%;
    right: 7.07%;
    top: 20.78%;
    bottom: 74.6%;
}

.sun {
    position: absolute;
    left: 41.08%;
    right: 52.85%;
    top: 0.1%;
    bottom: 95.19%;
}

.comet {
    position: absolute;
    left: 93.02%;
    right: 3.12%;
    top: 45.35%;
    bottom: 51.65%;
}

.cometLine {
    position: absolute;
    left: 84.71%;
    right: 8.25%;
    top: 47.95%;
    bottom: 48.71%;
}

.hand {
    position: absolute;
    left: 13.26%;
    right: 2.16%;
    top: 12.38%;
    bottom: 21.85%;
}

.planet {
    position: absolute;
    left: 56.04%;
    right: 28.25%;
    top: 8.04%;
    bottom: 86.28%;
}

.star6Point {
    position: absolute;
    left: 12.11%;
    right: 76.16%;
    top: 29.96%;
    bottom: 61.65%;
}

.starRight {
    position: absolute;
    left: 86.16%;
    right: 3.24%;
    top: 1.07%;
    bottom: 90.7%;
}

.starLeft {
    position: absolute;
    left: 17.41%;
    right: 71.99%;
    top: 6.06%;
    bottom: 85.7%;
}

.rightBar {
    position: absolute;
    left: 71.84%;
    right: 3.29%;
    top: 94.49%;
    bottom: 5.51%;
    border: 1px solid #FFFFFF;
}

.leftBar {
    position: absolute;
    left: 3.64%;
    right: 71.49%;
    top: 94.49%;
    bottom: 5.51%;
    border: 1px solid #FFFFFF;

}

.studioSVG {
    position: absolute;
    left: 32.57%;
    right: 31.3%;
    top: 92.79%;
    bottom: 0.5%;
}

.astrasurfSVG {
    position: absolute;
    left: 0.58%;
    right: 0.18%;
    top: 77.39%;
    bottom: 9.82%;
}

.surferDude {
    position: absolute;
    top: 10%;
}